@import 'tailwindcss';
@import './brand.css';

@layer base {
    * {
        @apply box-border;
    }
    body {
        /* general background color */
        @apply bg-light dark:bg-dark;
        /* general font size, color etc. */
        @apply text-xl leading-[1.7] text-dark-900 dark:text-light-300;

        @apply flex flex-col justify-between min-h-[100vh];
    }
    main {
        @apply w-[720px] max-w-[calc(100%-2em)] m-auto p-12 px-4;
    }
}

/* @utility sr-only {
    @apply border-0 p-0 m-0 absolute h-px w-px overflow-hidden whitespace-nowrap;
    clip: rect(1px 1px 1px 1px);
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
} */

@utility animated-link {
    @apply relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-gradient-to-r after:from-primary after:to-secondary after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
}
