---
import type { HTMLAttributes } from 'astro/types';
import '../../styles/global.css';

type Props = HTMLAttributes<'a'>;

const { href, class: className, ...props } = Astro.props;
const pathname = Astro.url.pathname.replace(import.meta.env.BASE_URL, '');
const subpath = pathname.match(/[^\/]+/g);
const isActive = href === pathname || href === '/' + (subpath?.[0] || '');
---

<a href={href} class:list={[className, { active: isActive }]} {...props}>
    <slot />
</a>
<style>
    @reference '../../styles/global.css';

    /* @utility animated-link {
        @apply relative w-fit block after:block after:content-[''] after:absolute after:h-[2px] after:bg-gradient-to-r after:from-primary after:to-secondary after:w-full after:scale-x-0 after:hover:scale-x-100 after:transition after:duration-300 after:origin-center;
    } */
    /* a {
        display: inline-block;
        text-decoration: none;
    }
    a.active {
        font-weight: bolder;
        text-decoration: underline;
    } */
</style>
