---
import Layout from '../../layouts/Layout.astro';

const pageTitle = 'Projects';
---

<Layout pageTitle={pageTitle}>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Illo velit fugit, animi enim eius
        impedit nulla maiores doloribus, ullam explicabo earum a saepe est expedita consequatur,
        distinctio rem voluptas perferendis facilis magnam! Unde veniam aliquam maxime nostrum ad
        aperiam architecto asperiores eius adipisci deserunt itaque, consequuntur tenetur laboriosam
        necessitatibus quasi dolore temporibus, veritatis vero, alias eveniet possimus officiis
        nesciunt quam. Laborum nisi assumenda quos fugiat necessitatibus ea quo! Ab et, similique
        ipsam molestiae rem expedita saepe, quidem magni velit quia, ipsum amet. Quasi error
        accusantium, officia quas ipsa pariatur, atque incidunt fuga similique corporis, architecto
        tempore. Quisquam voluptate, odit optio libero provident nemo quis odio, reprehenderit quo
        consequuntur nesciunt totam, dolorum at architecto omnis? Voluptas nesciunt ullam
        voluptatibus repellat aliquam assumenda cum culpa et voluptatem numquam, fugiat quos
        cupiditate sint maiores quod suscipit ipsa accusamus? Animi, omnis voluptatibus repellendus
        eveniet suscipit corrupti beatae? Ab, iusto laborum? Reprehenderit nam officiis accusantium
        nobis exercitationem dignissimos, reiciendis earum. Labore quasi sapiente sed. Eum
        voluptatem ullam eaque accusantium maxime? Qui autem, animi quae iusto quod repudiandae
        alias suscipit deleniti pariatur earum debitis consequatur magni dignissimos veritatis vitae
        natus veniam excepturi at doloremque! Dolor voluptatibus nemo delectus voluptatem obcaecati
        libero possimus nisi? Aliquam odit voluptatibus corporis libero error saepe porro. Maxime
        est doloremque eum fugit eveniet corporis ad, dignissimos, facere nisi id excepturi
        accusantium dolores repudiandae tenetur rem esse, cupiditate sint asperiores culpa? Quidem
        unde quaerat harum quos at earum veritatis praesentium, rem molestiae odit iusto inventore,
        pariatur error ipsa natus fugiat est ad dignissimos? Amet quibusdam facere totam tempora
        consectetur pariatur in, nostrum quod qui quia ipsa expedita nemo at eum sapiente neque esse
        sunt corporis. Quibusdam tenetur ex at libero eius. Nemo unde modi fugiat molestias esse eum
        itaque, quos ratione hic repellat consectetur vitae tenetur vero, reiciendis impedit, sit
        doloribus praesentium enim soluta sed rem? Fugiat, ratione iste est porro omnis repudiandae
        similique. Quae, amet! Quisquam iure ratione quae beatae animi! Quod aspernatur, aliquam
        distinctio nesciunt officiis, nobis, sint quae voluptate sapiente voluptas cupiditate
        doloremque quas placeat? Deleniti officiis cupiditate ex voluptatibus obcaecati omnis error
        velit nulla, neque eum animi, sit cumque reprehenderit aliquam. Temporibus esse numquam at
        dolore earum! Quaerat et voluptatibus quas eaque consequatur sapiente odit repellendus id.
        Beatae unde obcaecati molestias quisquam, libero maiores iure natus impedit harum doloribus
        laudantium atque consequuntur, quis placeat repellendus minus perferendis deleniti dolorum
        ut eius, veniam fugit quae error eveniet. Repellat ab tempore repudiandae soluta assumenda
        harum blanditiis eligendi explicabo illo! Qui ab eius hic veniam, quis neque modi repellat
        illum doloribus, debitis dicta suscipit error impedit itaque possimus ad necessitatibus
        ullam, deleniti fuga id quo minima. Ipsam, quis quia est libero sint ab ad non ipsum
        commodi, hic quo obcaecati facilis? Minus eaque ad asperiores exercitationem autem sint,
        cupiditate aut at consequatur non modi aperiam aspernatur saepe corrupti dolore quas optio
        recusandae facere consectetur iste laboriosam, neque nostrum? In suscipit debitis aspernatur
        consequatur. Et neque rem quis dolore asperiores repudiandae praesentium molestias delectus
        incidunt totam temporibus, nulla officia voluptatum unde recusandae aspernatur?
    </p>
</Layout>
