---
const { pageTitle, description, image } = Astro.props;

import BaseHead from '../components/layout/BaseHead.astro';
import Footer from '../components/layout/Footer.astro';
import Header from '../components/layout/Header.astro';
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={pageTitle} description={description} image={image} />
    </head>
    <body>
        <Header />
        <main>
            <slot />
        </main>
        <Footer />
        <!-- <script>
            import '../scripts/menu';
        </script> -->
    </body>
</html>

<style is:global>
    @reference "../styles/global.css";
    ::selection {
        @apply text-inherit bg-secondary/30 dark:bg-primary/30;
    }
</style>
